.powerslider_frame {
	background: black;
   color:white;
}

.asd-slide-woocommerce {
   background:white;
   border: 1px solid #ccc;
}

.asd-slide-woocommerce a:hover ,
.asd-slide-woocommerce a {
   color:black!important;
}

.asd-slide-woocommerce .addtocart {
   padding-left:10px;
   padding-right:10px;
   text-align:center;
   color:white!important;
   background:royalblue;
}

.asd-slide-woocommerce .fullwidth {
   width:100%;
}

.asd-slide-woocommerce .leftcol ,
.asd-slide-woocommerce .rightcol {
   width:50%;
   float:left;
}

.asd-slide-woocommerce .rightcol {
   padding:10px;
}
